html, body {
    height: 100%; /* Ensure the body takes up the full height of the viewport */
    margin: 0;
  }
  
  .content-wrapper {
    min-height: 100%; /* Ensure the content wrapper takes up the full height */
    display: flex;
    flex-direction: column;
  }
  
  router-outlet {
    flex: 1; /* Pushes the footer to the bottom when content is small */
  }
  
  footer {
    position:sticky;
    bottom: 0;
    width: 100%;
  }